.inline-tutorial-container {
  position: relative;
  border-radius: 3px;
  padding: 20px;
  width:350px;
}

.btn.in-tutorial-right-btn,
.btn.in-tutorial-left-btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  top: 50%;
}

.btn.in-tutorial-right-btn:hover,
.btn.in-tutorial-left-btn:hover {
  background-color: #59adff;
}

.in-tutorial-left-btn {
  left: -20px;
}

.in-tutorial-right-btn {
  right: -20px;
}

.slide-num {
  position: absolute;
  width: 276px;
  bottom: 0;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
