.inplace-textarea,
.inplace-input {
  transition: all 0.2s ease;
  /*border: 2px dashed rgba(77,151,255,.25);*/
  border: 2px dashed rgba(106, 118, 138, 0.25);
  border-radius: 8px;
  background-color: #fafafa;
  padding: 0.75rem 1rem;
  width: 100%;
  line-height: 1.75em;
  color: #575e75;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}

.inplace-input {
  font-weight: 500;
  height: calc(3.5rem - 4px);
  font-size: calc(1.325rem + 0.9vw);
}

.description-block {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.project-textlabel,
.project-sublabel {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.project-sublabel {
  font-weight: normal;
}

.description-subblock {
  width: calc(50% - 0.25rem) !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chatbot-btn {
  position: relative;
  top: -44px;
  left: calc(100% - 48px);
}

.chat-overlay {
  position: absolute;
  z-index: 1001;
  width: 400px;
  height: 15rem;
  line-height: 15rem;
  
  top: 7rem;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}

.chat-overlay-spinner {
  width: 4rem;
  height: 4rem;
}

/* configuring react chatbot https://fredrikoseberg.github.io/react-chatbot-kit-docs/docs/advanced/configuring-css */

.react-chatbot-kit-chat-container {
  position: absolute;
  z-index: 1000;
  top: 7rem;
  right: 0;
}

.react-chatbot-kit-chat-inner-container {
  height: 15rem;
}

.react-chatbot-kit-chat-header {
  display: none;
}

.react-chatbot-kit-chat-message-container {
  height: 14.5rem;
}
